.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.editor {
    width: 100%;
    flex: 1;
    height: 100%;
}
.result {
    width: 100%;
    height: 100%;
    flex: 1;
    background-color: #282a36;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .editor {
        flex: 0 0 100%;
    }
    .result {
        flex: 0 0 100%;
    }
}
